* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 300px;
    height: 250px;
}

.container {
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-color: antiquewhite;
    /* background-image: url('images/gpv1b1.jpg'); */
}

.bg {
    top: 0px;
    left: 0px;
}

.copy1 {
    top: 26px;
    left: 81px;
}

.Onegb {
    top: 104px;
    left: 36px;
}

.Twogb {
    top: 104px;
    left: 154px;
}

.arrows {
    top: 199px;
    left: 108px;
}

.selector {
    top: 173px;
    left: 131px;
}

.cta1 {
    top: 227px;
    left: 46px;
}



.OnegbCopy {
    top: 66px;
    left: 42px;
}

.TwogbCopy {
    top: 66px;
    left: 42px;
}

.buynow {
    top: 194px;
    left: 107px;
}


/*-------------------- */
.hidden {
    display: none;
}

.absolute {
    position: absolute;
}

/* animation */
/* buy now  */
.pulse-animation {
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    50% {
        transform: scale(.95);
    }

    0%,
    100% {
        transform: scale(1);
    }
}

/* arrow animation */
.slowSlide-animation {
    animation: slide 1.2s ease-in-out infinite;
}

@keyframes slide {

    0%,
    100% {
        transform: translateX(5px);
    }

    50% {
        transform: translate(-5px);
    }
}

/* text animation */
.textSlide-animation {
    animation: textSlide 1.3s ease-in-out;
}

@keyframes textSlide {
    0% {
        transform: translateY(-100px);
        opacity: .6;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.textSlideRemove-animation {
    animation: textSlideRemove 1s ease-in-out forwards;
}

@keyframes textSlideRemove {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-100px);
        opacity: .6;
    }
}

/* 1gb animation */
.oneGbCard-animation {
    animation: oneGbCard 1.2s ease-in-out;
}

@keyframes oneGbCard {
    0% {
        transform: translateX(-50px);
    }

    70% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.oneGbCardRemove-animation {
    animation: oneGbCardRemove 1s ease-in-out forwards;
}

@keyframes oneGbCardRemove {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-40px);
        opacity: .6;
    }
}

/* 2gb animation */
.twoGbCard-animation {
    animation: twoGbCard 1.2s ease-in-out;
}

@keyframes twoGbCard {
    0% {
        transform: translateX(50px);
    }

    70% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.scaleUp-animation {
    animation: scaleUp .5s ease-in-out forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

/*  */
.selectorRemove-animation {
    animation: selectorRemove 1s ease-in-out forwards;
}

@keyframes selectorRemove {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(100px);
        opacity: .6;
    }
}